.post-wrapper {
	display: block;
	width: 25%;
	float: left;
	transition: width .2s;
}

.post {
    transition: all 1.0s ease;
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 5px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
	height: 300px;
}

.post h1 {
    text-align: center;
    position: absolute;
    width: 100%;
    color: orange;
    top: 0px;
    font-size: 0px;
    transition: all 1s;
}

.watched {
    background: #ffffff;
    border: 2px solid #bbbbbb;
}
.watched h1 {
    color: #aaaaaa;
}

.posts {
	list-style: none;
	margin: 0 -20px 0 0;
	padding: 0;
}

.post:hover {
    transform: translate(-5px, -5px);
    box-shadow: 2px 2px white, 5px 5px #676470;
}

.post:hover h1 {
	font-size: 3em;
	transform: translateY(110px);
	display: inline;
}