{% extends 'base.html' %}

{% block content %}

{% if blog_personal and user.is_authenticated %}
    <a href="/create_post" class="btn btn-secondary">Создать пост</a>
{% elif user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {% if not is_sub %}
            <button type="submit" class="btn btn-success" name="sub">Подписаться</button>
        {% else %}
            <button type="submit" class="btn btn-danger" name="unsub">Отписаться</button>
        {% endif %}
    </form>
{% endif %}
<ul class="posts clearfix">
    {% for post in posts %}
	<li class="post-wrapper">
		<a href="/post/{{post.id}}" class="post">
            <h1 style="text-align: center;">{{ post.headline }}</h1>
		</a>
	</li>
	{% endfor %}
</ul>


{% endblock %}