{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row row">
        <div class="form-group col">
            <label for="id_headline">Загаловок</label>
            <input type="text" class="form-control" name="headline" required
                   id="id_headline" placeholder="Введите загаловок" value="">
        </div>
    </div>
    <div class="form-row row">
        <div class="form-group col">
            <label for="id_text">Текст</label>
            <textarea class="form-control" id="id_text"
                      rows="5" name="text" placeholder="Введите текст поста" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</form>

{% endblock %}